pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
code.hljs {
  padding: 3px 5px;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
.hljs {
  color: #24292e;
  background: #ffffff;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #d73a49;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #6f42c1;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: #005cc5;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  color: #032f62;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
.hljs-built_in,
.hljs-symbol {
  color: #e36209;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
.hljs-comment,
.hljs-code,
.hljs-formula {
  color: #6a737d;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: #22863a;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
.hljs-subst {
  color: #24292e;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
.hljs-section {
  color: #005cc5;
  font-weight: bold;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
.hljs-bullet {
  color: #735c0f;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
.hljs-emphasis {
  color: #24292e;
  font-style: italic;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
.hljs-strong {
  color: #24292e;
  font-weight: bold;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 13px;
}
